.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 300px 300px;
    gap: 20px;
}
.first-item{
    background-color: aqua;
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-item{
    background-color: rgb(0, 13, 255);
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-item{
    background-color: rgb(255, 140, 0);
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.third-item{
    background-color: rgb(255, 0, 212);
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.four-item{
    background-color: rgb(77, 255, 0);
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.five-item{
    background-color: rgb(166, 0, 255);
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.six-item{
    background-color: rgb(255, 0, 115);
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}