* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-bg-primary: #ffffff;
    --color-primary: #212121;
    --color-secondary: #5c5c5b;
    --color-accent: #ffc222;
    --color-success: #00a149;
    --color-danger: #ee284b;
    --color-surface-light: #f5f8fd;

    --color-white: #ffffff;
    --font-oswald: "Oswald", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    /* min-height: 100vh; */
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    /* width: 2044px; */
    background-color: var(--color-bg-primary);
    overflow-x: hidden;
}

.main {
    /* width: 1920px; */
    width: 100%;
    background-color: var(--color-bg-primary);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
video,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

p {
    margin: 0;
}

.container {
    max-width: 85%;
    padding: 0px 18px;
    margin: auto;
}

.header-area {
    margin: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: var(--color-bg-primary);
    position: relative;
}

.header-area .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-area .logo {
    width: 150px;
    height: 73px;
    aspect-ratio: 150/73;
}

.nav-area {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-area ul {
    display: flex;
    align-items: center;
    gap: 33.12px;
    color: #212121;
    font-family: var(--font-oswald);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
}

.header-end {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-end .contact-btn {
    display: flex;
    width: 181.91px;
    height: 57px;
    padding: 0 49.674px 0 50px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: #FFC222;
    color: #FFF;
    text-align: center;
    font-family: var(--font-oswald);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.8px;
    text-transform: capitalize;
}
.cart-btn{
    display: flex;
    align-items: center;
    width: 80px;
}

.cart-btn i{
    color: #00a149;
    width: 60px;
}

.cart-numb{
    color: #212121;
    font-family: var(--font-oswald);
}

.divider-btn {
    width: 120px;
    height: 18px;
}

/* Banner area design */
.banner-area{
    margin-top: 40px;
    padding: 30px 0px;
    height: 550px;
    background-image: url("../images/bg1.png");
    background-repeat: no-repeat;
    background-position: cover;
}

.single-banner{
    padding: 20px 0px;
}

.banner-description{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.banner-description h2{
    color: #FFC222;
font-family: var(--font-oswald);
width: 187.155px;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px;
text-transform: capitalize;
}

.banner-description h3{
    width: 424.56px;
    color: #FFF;
font-family: var(--font-oswald);
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 85px;
text-transform: uppercase;
}

.banner-description p{
    color: #FFF;
font-family: var(--font-oswald);
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 36.4px;
text-transform: capitalize;
}

.order-btn{
    display: flex;
width: 212.3px;
padding: 20px 49.577px 21px 50px;
justify-content: center;
align-items: flex-end;
gap: 10px;
border-radius: 9px;
background: #EE284B;
color: #FFF;
text-align: center;
font-family: Oswald;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0.8px;
text-transform: capitalize;
}

.banner-sliders .slick-dots {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: absolute;
  bottom: 0;
  left: 0px;
}

.banner-sliders .slick-dots li button {
  display: none;
}

.banner-sliders .slick-dots li {
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}

.banner-sliders .slick-dots .slick-active {
    padding: 8px;
      width: 16px;
  height: 16px;
  color: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid gray !important;
}

/* popular food section */
 .popular-foods{
            padding: 114px 0px 120px 0px;
            background-color: #F5F8FD;
            position: relative;
            height: 850px;
        }
        .popular-foods .container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 40px;
        }

        .background-shape{
            position: absolute;
            left: 50px;
            bottom: 40px;
            z-index: 100;
        }
        .section-description{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .left-text h2{
            color: #00A149;
font-family: var(--font-oswald);
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 28px;
text-transform: capitalize;
        }

        .left-text p{
            color: #212121;
font-family: var(--font-oswald);
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 67.2px;
text-transform: capitalize;
        }

        .popular-food-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }

        .single-food-cart{
    width: 300px;
    height: 394px;
    background-image: url("../images/cart-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: lightgray;
    padding: 49px;
border: #00A149;
position: relative;
        }

        .cart-body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .cart-divider{
            width: 53px;
height: 2px;
background: #FFC222;
        }

        .cart-body h2{
            color: #212121;
text-align: center;
font-family: Oswald;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 36.4px;
text-transform: capitalize;
        }

.cart-body p{
    color: #FFC222;
text-align: center;
font-family: Oswald;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 28px;
text-transform: capitalize;
}

.cart-image{
    height: 210px;
    padding: 10px;
}

.slider-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}

.preview-btn {
    color: #FFC222;
font-size: 17px;
font-style: normal;
font-weight: 900;
line-height: 17px;
}
.next-btn{
    display: flex;
width: 60px;
height: 60px;
padding: 22px 0 21px 0;
justify-content: center;
align-items: center;
border-radius: 60px;
background: #FFC222;
box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
color: white;
}