/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-text: #1a1a1a;

    /* Typography */
    --font-plusjakarta: "Plus Jakarta Sans", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-fraunces: "Fraunces", serif;
}

/* HTML & Body */
html, body {
    width: 100%;
    height: 100%;
    font-family: var(--font-plusjakarta);
}

/* Media */
img, video, svg {
    display: block;
    max-width: 100%;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}


button{
    font: inherit;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hero-area{
    width: 1920px;
    height: 818px;
    min-height: 100vh;

    padding: 135px 1011px 107px 181px;

    display: flex;
    align-items: center;

    background: url('./images/hero-bg.png') no-repeat center center;
    background-size: cover;
}

.container{
    margin: 0 auto;
    width: 1320px;
    max-width: 100%;
    padding: 0 20px;
}

.content-wrapper{
    display: flex;
width: 648px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}

.hero-tag-btn{
    display: flex;
padding: 8px 24px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 999px;
background: rgba(255, 255, 255, 0.20);
color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: -0.5px;
}

.hero-card-text h2{
    color: #FFF;
font-family: Fraunces;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: 72px; /* 112.5% */
letter-spacing: -3px;
}

.hero-card-text p{
    max-width: 608px;
    color: #FFF;
font-family: "Plus Jakarta Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 34px; /* 170% */
letter-spacing: -1px;
}

.hero-shop-btn{
    display: flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: 12px;
background: #FFF;
color: #2A1D1D;
text-align: center;
font-family: "Plus Jakarta Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.5px;
}

ul, ol {
    list-style: none;
    display: flex;
}